<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <link href="https://at.alicdn.com/t/font_1153083_j5ucjqyx1qa.css" rel="stylesheet" th:href="@{https://at.alicdn.com/t/font_1153083_j5ucjqyx1qa.css}">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.min.css" rel="stylesheet" th:href="@{https://cdn.bootcss.com/font-awesome/5.8.1/css/all.min.css}">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css}">
    <link href="../static/css/phyweb.css" rel="stylesheet" th:href="@{/css/phyweb.css}">
    <th:block layout:fragment="links">
        <!-- More Links -->
    </th:block>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #343a40">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <div style="width:36px; height:36px; display: inline-block; vertical-align: middle;">
                        <i class="iconfont icon-wuli" style="font-size: 36px; line-height: 35px;"></i>
                    </div>
                    <span>PhyLab</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto" th:with="view=${#httpServletRequest.getServletPath()}">
                        <li class="nav-item" th:classappend="${view=='/'||#strings.startsWith(view,'/index')? 'active' : ''}">
                            <a class="nav-link mx-2" href="/index">首页</a>
                        </li>
                        <li class="nav-item"  th:classappend="${#strings.startsWith(view,'/report-center')? 'active' : ''}">
                            <a class="nav-link mx-2" href="/report-center">实验报告中心</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="/question">
                                题库
                                <span th:if="${#strings.startsWith(view,'/#')}" class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <form shiro:guest="" class="form-inline my-2 my-md-0">
                        <a href="/register" class="btn btn-primary py-1 mx-1">注册</a>
                        <span style="color: #ddd;">or</span>
                        <a href="/login" class="btn btn-outline-light py-1 mx-1">登录</a>
                    </form>
                    <ul shiro:user="" class="navbar-nav ml-auto">
                        <li class="nav-item avatar dropdown">
                            <a data-toggle="dropdown">
                                <img class="rounded-circle" alt="avatar image" th:src="${userAvatar}">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-3">
                                <a class="dropdown-item" href="/user-center"><i class="fas fa-user mr-3"></i>个人中心</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i class="fas  fa-sign-out-alt mr-3"></i>退出登录</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <th:block layout:fragment="content">
            <!-- Main Content -->
        </th:block>
    </main>
    <footer>
        <div class="footer-main bg-dark py-3 small">
            <div class="container">
                <div class="row">
                        <div class="col mr-auto my-auto">
                            <a href="#">PhyLab</a>
                            is a project created and maintained by
                            <a href="#">BUAA-SE-GROUP</a>.
                            <br>
                            Themes, templates, and snippets licensed
                            <a href="https://opensource.org/licenses/MIT">MIT</a>, Start Bootstrap website
                            <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
                            <br>
                            Copyright @2016-2019 <a href="#">物理实验报告平台</a>.
                        </div>
                        <div class="">
                            <span class="navbar-brand" style="opacity: .5">
                                <div style="width:60px; height:60px; display: inline-block; vertical-align: middle;">
                                    <i class="iconfont icon-wuli" style="font-size: 60px; line-height: 59px;"></i>
                                </div>
                                <span style="font-size:30px;">PhyLab</span>
                                <h5 style="font-size:1.15rem" class="mt-2 mb-0">发现物理实验的乐趣</h5>
                            </span>
                        </div>


                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js" th:src="@{https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"th:src="@{https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcss.com/pdfobject/2.1.1/pdfobject.min.js" th:src="@{https://cdn.bootcss.com/pdfobject/2.1.1/pdfobject.min.js}"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js" th:src="@{https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js}" ></script>
    <script src="./js/global.js" th:src="@{/js/global.js}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" th:src="@{https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js}"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js" th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
    <script language="javascript">

        $(function () {
            //点击发送验证码
            $('body').on('click', '#btnSend', function () {
                $('body').off('click', '#btnSend');
                var form= document.getElementById("myForm");
                form.submit();
                LockButton('#btnSend', 60);
            })

            //读取cookie
            if ($.cookie("djsendtime") != undefined && !isNaN($.cookie("djsendtime"))) {  //读取到了cookie值
                var djsendtime = $.cookie("djsendtime");
                var now = new Date().getTime();  //当前时间戳
                var locksecends = parseInt((djsendtime - now) / 1000);
                if (locksecends <= 0) {
                    $.cookie("djsendtime", null);
                } else {
                    LockButton('#btnSend', locksecends);
                }
            }

        })

        // 按钮倒计时
        var LockButton = function (btnObjId, locksecends) {
            //1.获取当前系统时间
            //2.获取 locksecends 后的系统时间
            //3.用cookie保存到期时间
            //4.每次加载后获取cookie中保存的时间
            //5.用到期时间减去当前时间获取倒计时
            var djsendtime = $.cookie("djsendtime");
            if (djsendtime == null || djsendtime == undefined || djsendtime == 'undefined' || djsendtime == 'null') {
                var now = new Date().getTime();  //当前时间戳
                var endtime = locksecends * 1000 + now;  //结束时间戳
                $.cookie("djsendtime", endtime);  //将结束时间保存到cookie
            }
            $(btnObjId).addClass('disabled').attr('disabled', 'disabled').text('(' + locksecends + ')秒后重新获取');
            $('body').off('click', '#btnSendSMS');
            var timer = setInterval(function () {
                locksecends--;
                $(btnObjId).text('(' + locksecends + ')秒后重新获取');
                if (locksecends <= 0) {
                    //倒计时结束清除cookie值
                    $.cookie("djsendtime", null);
                    $(btnObjId).removeClass('disabled').removeAttr('disabled').text('重新获取');
                    $('body').on('click', '#btnSend', function () {
                        $('body').off('click', '#btnSend');
                        LockButton('#btnSend', 60);
                    })
                    clearInterval(timer);
                }
            }, 1000);
        };
    </script>
    <script>
        $(document).ready(function(){
            $("#passwordButton").click(function(){
                $("#messageDiv").hide();
                $("#passwordDiv").show();
            });

            $("#messageButton").click(function(){
                $("#messageDiv").show();
                $("#passwordDiv").hide();
            });
        });
        function check(input) {
            if (input.value != document.getElementById('newPassword1').value) {
                input.setCustomValidity('两次输入的密码必须一致');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }

    </script>

    <th:block layout:fragment="scripts">
        <!-- More Scripts -->
    </th:block>
</body>


</html>