<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="base">

<head>
    <title>PhyLab - 修改个人信息</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>>
    <script>
        $(document).ready(function(){
            $("#passwordButton").click(function(){
                $("#messageDiv").hide();
                $("#passwordDiv").show();
            });

            $("#messageButton").click(function(){
                $("#messageDiv").show();
                $("#passwordDiv").hide();
            });
        });
        function check(input) {
            if (input.value != document.getElementById('newPassword1').value) {
                input.setCustomValidity('两次输入的密码必须一致');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }

    </script>
</head>

<th:block layout:fragment="content"  >
    <div class="container my-container">
        <div class="pl-4 pb-2 mt-3 mb-2 border-bottom d-flex flex-row">
            <button id="messageButton" style="display: inline-block;float: left ;background-color: #337ab7;color: white">修改信息</button>
            <button id="passwordButton" style="display: inline-block ;float: right;background-color: #337ab7;color: white ">修改密码</button>
        </div>
        <div class="alert alert-danger alert-dismissible"  th:if="${failEditPassword}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong th:text="${failEditPassword}"></strong>
        </div>
        <div class="row py-5 px-2" id="messageDiv"  >
            <div class="col-xs-12 col-md-8">
                <form  action="/edit-profile" method="post">
                    <input name="email" th:value="${user.getEmail()}" hidden>
                <div class="profile-user-info" style="width: 100%">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 用户名 </div>
                        <div class="profile-info-value">
                            <input  name="name" type="text" required th:value="${user.getName()}"
                                    maxlength="20" style="border: none;width: 500px;height: 50px"
                            >
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 性别 </div>
                        <div class="profile-info-value">
                            <label class="radio-inline" style="font-size: 20px"><input type="radio" name="sex" value="male">male</label>
                            <label class="radio-inline" style="font-size: 20px"><input type="radio" name="sex" value="female">female</label>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 学校 </div>
                        <div class="profile-info-value">
                            <input  name="school" type="text"  required
                                    maxlength="30" th:value="${user.getSchool()}" style="border: none;width: 500px;height:50px"
                            >
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">自我介绍</div>
                        <div class="profile-info-value">
                            <input  name="introduction"  placeholder="一句话介绍自己" style="border: none;width: 1000px;height: 50px"
                                   maxlength="50" required >
                        </div>
                    </div>
                    <br>
                    <br>
                     <div>
                         <button  class="my-button" type="submit">确认</button>
                     </div>
                </div>
                <div class="hr hr-8 dotted"></div>
                </form>
            </div>
        </div>
        <div class="row py-5 px-2" id="passwordDiv" style="display: none" >
            <div class="col-xs-12 col-md-8">
                <form  action="/edit-profile" method="post">
                    <input name="email" th:value="${user.getEmail()}" hidden>
                    <div class="profile-user-info" style="width: 100%">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 用户名 </div>
                            <div class="profile-info-value">
                                <input  name="name" type="text" th:value="${user.getName()}"
                                        readonly
                                >
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 旧密码 </div>
                            <div class="profile-info-value">
                                <input  name="oldPassword" type="password"  required
                                        maxlength="30"
                                >
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 新密码 </div>
                            <div class="profile-info-value">
                                <input  name="newPassword1" type="password"  required id="newPassword1"
                                        maxlength="30" minlength="6"
                                >
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 确认新密码 </div>
                            <div class="profile-info-value">
                                <input  name="newPassword2" type="password"  required id="newPassword2"
                                        maxlength="30" oninput="check(this)" minlength="6"
                                >
                            </div>
                        </div>
                        <br>
                        <button  class="my-button" type="submit">确认</button>
                    </div>
                    <div class="hr hr-8 dotted"></div>
                </form>
            </div>
        </div>

    </div>

</th:block>

</html>