<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="base">

    <th:block layout:fragment="content">
        <div class="my-jumbotron">
            <div class="container">
                <h1>物理实验网站</h1>
                <h2>Phyweb-Beta-Two</h2>
                <hr class="my-3">
                <p class="h4 mb-4">欢迎您，Gakki3</p>
                <p class="lead mt-5">
                    <a class="btn btn-primary btn-lg" href="/report-center" role="button">进入报告中心</a>
                </p>
            </div>
        </div>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="iconfont icon-bianjie" style="font-size: 80px"></i>
                    </div>
                    <h2>便捷</h2>
                    <p class="lead">再无繁琐的计算，只需提供实验数据，一份实验报告顷刻可得</p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">立即体验 »</a></p> -->
                </div>
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="iconfont icon-guifan" style="font-size: 80px"></i>
                    </div>
                    <h2>规范</h2>
                    <p class="lead">精美的 Latex 排版，严格的计算公式，<br>生成的报告美观又规范</p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">立即体验 »</a></p> -->
                </div>
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="iconfont icon-jingzhun" style="font-size: 80px"></i>
                    </div>
                    <h2>准确</h2>
                    <p class="lead">预定义的计算步骤，程序精准的计算<br>让计算误差降到最小</p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">立即体验 »</a></p> -->
                </div>
            </div><!-- /.row -->

            <!-- <hr class="featurette-divider"> -->
        </div>
    </th:block>

</html>