<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="base">

<head>
    <meta charset="UTF-8">
    <title>题目</title>
    <link href="../static/css/phyweb.css" rel="stylesheet" th:href="@{/css/phyweb.css}">
</head>

<th:block layout:fragment="links">
    <!-- fomantic-ui table -->
    <link href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/components/table.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/components/button.min.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <th:block th:switch="${question.getType()}">
        <!--选择题-->
        <div th:case="'CHOICE'"  class="card mt-3 p-3 shadow-sm" style="background: #fff; border-radius: 10px; flex: 1; width: 80%;margin-left: auto;margin-right: auto">
            <h5 class="text-center">
                <i class="far fa-list-alt" style="font-size:90%"></i>
                第 <span th:text="${question.getId()}"></span> 题
            </h5>
            <table class="ui selectable compact celled stripped table" style="margin-top: 4px; width:100%; overflow-y:scroll; ">
                <tbody>
                <tr>
                    <td class="center aligned">
                        <span><span class="badge badge-pill badge-success">选择题</span>
                        <span th:text="${question.title}">题目内容</span></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <input type="checkbox" id="A" class="regular-checkbox big-checkbox" /><label id="chooseA" for="A" th:text="'A：'+${question.getA()}"></label>
            <input type="checkbox" id="B" class="regular-checkbox big-checkbox" /><label id="chooseB" for="B" th:text="'B：'+${question.getB()}"></label>
            <input type="checkbox" id="C" class="regular-checkbox big-checkbox" /><label id="chooseC" for="C" th:text="'C：'+${question.getC()}"></label>
            <input type="checkbox" id="D" class="regular-checkbox big-checkbox" /><label id="chooseD" for="D" th:text="'D：'+${question.getD()}"></label>
        </div>
        <!--填空题-->
        <div th:case="'BLANK'"  class="card mt-3 p-3 shadow-sm" style="background: #fff; border-radius: 10px; flex: 1; width: 80%;margin-left: auto;margin-right: auto">
            <h5 class="text-center">
                <i class="far fa-list-alt" style="font-size:90%"></i>
                第 <span th:text="${question.getId()}"></span> 题
            </h5>
            <table class="ui selectable compact celled stripped table" style="margin-top: 4px; width:100%; overflow-y:scroll; ">
                <tbody>
                <tr>
                    <td class="center aligned">
                        <span><span class="badge badge-pill badge-success">填空题</span>
                        <span th:text="${question.title}">题目内容</span></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <div>
                <label for="blank_answer">在下面输入您的答案</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">您的答案</span>
                  </div>
                  <input type="text" class="form-control" id="blank_answer">
                </div>
                <div class="collapse" id="answer-incorrect">
                    <div class="card card-body">
                        <p class="text-danger">答案有误</p>
                        <p>
                            <span class="text-success">正确答案: </span>
                            <span th:text="${question.answer}"></span>
                        </p>
                    </div>
                </div>
                <div class="collapse" id="answer-correct">
                    <div class="card card-body">
                        <p class="text-success">答案正确</p>
                    </div>
                </div>
            </div>
        </div>
        <!--简答题-->
        <div th:case="'ANSWER'"  class="card mt-3 p-3 shadow-sm" style="background: #fff; border-radius: 10px; flex: 1; width: 80%;margin-left: auto;margin-right: auto">
            <h5 class="text-center">
                <i class="far fa-list-alt" style="font-size:90%"></i>
                第 <span th:text="${question.getId()}"></span> 题
            </h5>
            <table class="ui selectable compact celled stripped table" style="margin-top: 4px; width:100%; overflow-y:scroll; ">
                <tbody>
                <tr>
                    <td class="center aligned">
                        <span><span class="badge badge-pill badge-success">简答题</span>
                        <span th:text="${question.title}">题目内容</span></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <div>
                <label for="blank_answer">在下面输入您的答案</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">你的答案</span>
                    </div>
                    <textarea class="form-control" rows="4"></textarea>
                </div>
                <div class="collapse mt-3" id="answer">
                    <div class="card card-body">
                        <div class="alert alert-info" role="alert">
                            简答题不必完全一样，意思对即可，你可以自行对照判断
                        </div>
                        <div>
                            <span class="text-success">参考答案：</span>
                            <span th:text="${question.answer}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--简答题-->

    </th:block>

    <div class = "row">
        <div style="margin-left: auto;margin-right: auto;margin-top: 20px" class="ui buttons">
            <a th:href='@{/questionDetail(id=${question.id} - 1)}'>
                <button type="button" class="ui green basic button enter-question">
                    前一题
                </button>
            </a>
        </div>

        <div style="margin-left: auto;margin-right: auto;margin-top: 20px" class="ui buttons">
            <a>
                <button type="button" class="ui blue basic button enter-question" onclick="judgeAns()">
                    提交答案
                </button>
            </a>
        </div>

        <div style="margin-right: auto;margin-left: auto;margin-top: 20px" class="ui buttons">
            <a th:href='@{/questionDetail(id=${question.id} + 1)}'>
                <button type="button" class="ui green basic button enter-question">
                    后一题
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="ui buttons" style="margin-right: auto;margin-left: auto;margin-top: 20px" >
            <button type="button" class="ui orange basic button enter-question" data-toggle="collapse" data-target="#comment" >
                该题讨论内容
            </button>
        </div>
    </div>

    <div id="comment" class="collapse in">
        <div class="card mt-3 p-3 shadow-sm" style="background: #fff; border-radius: 10px; flex: 1; width: 80%;margin-left: auto;margin-right: auto">
            <h5 class="text-center">
                <i class="far fa-list-alt" style="font-size:90%"></i>
                讨论内容
            </h5>
            <table class="ui selectable compact celled stripped table" style="margin-top: 4px; width:100%; overflow-y:scroll; ">
                <thead>
				<tr>
					<th class="center aligned">编号</th>
					<th class="center aligned">用户名</th>
					<th class="center aligned">评论内容</th>
					<th class="center aligned">评论时间</th>
				</tr>
				<tbody>
                    <tr th:each="comment : ${commentList}">
						<td class="center aligned" th:text="${comment.content_id}">No.1</td>
						<td class="center aligned" th:text="${comment.name}">用户名</td>
						<td class="center aligned" th:text="${comment.content}">评论内容</td>
						<td class="center aligned" th:text="${comment.time}">评论时间</td>
					</tr>
                </tbody>
            </table>
            <br>

            <div class="input-group mb-3">
                评论内容：<input id="commentInput" type="text" class="form-control" name="comment">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="insertComment()">添加评论</button>
                </div>
            </div>
			
			<div class="input-group mb-3">
				编号：<input id="commentUpdate_1" type="text" class="form-control" name="content_id">
                修改的评论内容：<input id="commentUpdate_2" type="text" class="form-control" name="comment_co">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="changeComment()">修改评论</button>
                </div>
            </div>

        </div>

        <p class="modal fade" id="questionId" th:text="${question.getId()}"></p>
        <p class="modal fade" id="questionAns" th:text="${question.getAnswer()}"></p>



    </div>


</th:block>

<th:block layout:fragment="scripts">
        <script th:inline="javascript">
            const questionDetail = [[${question}]] ;
            console.log(questionDetail);
        </script>
</th:block>


</html>