<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="base">

<head>
    <meta charset="UTF-8">
    <title>题目</title>
</head>

<th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    题目
                </h2>
                <p>
                    题目内容
                </p>
                <div class="btn-group btn-group-md" role="group">

                    <button class="btn btn-block btn-link" type="button">
                        A
                    </button>
                    <button class="btn btn-block btn-link" type="button">
                        B
                    </button>
                    <button class="btn btn-block btn-link" type="button">
                        C
                    </button>
                    <button class="btn btn-block btn-link" type="button">
                        D
                    </button>
                </div>
                <button type="button" class="btn btn-block btn-secondary btn-sm">
                    前一题
                </button>
                <button type="button" class="btn btn-block btn-primary btn-sm">
                    后一题
                </button>
            </div>
            <div class="col-md-4">
                <div class="tabbable" id="tabs-20458">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#tab1" data-toggle="tab">评论</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab2" data-toggle="tab">答案</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <p>
                                这里是评论。
                            </p>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>
                                这里是答案。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>