<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="base">

<head>
    <title>注册账号</title>
</head>

<th:block layout:fragment="content">
    <div class="col-md-8 offset-md-2 my-5 py-5" style="background: #fff; border-radius: 8px; border: 1px solid #eee;">

        <form class="col-md-6 offset-md-3" action="/register" method="post">         
            <div class="row mb-3">
                <span class="navbar-brand" style="margin: 0 auto;">
                    <div style="width:72px; height:72px; display: inline-block; vertical-align: middle;">
                        <i class="iconfont icon-wuli" style="font-size: 72px; line-height: 70px;"></i>
                    </div>
                    <span style="font-size:36px;">PhyLab</span>
                    <h5 class="mt-2">注册 PhyLab，发现物理实验的乐趣</h5>
                </span>
            </div>
            <div id="login-message-alert" th:if="${message}" style="text-align:initial; margin-top: 20px;">
                <button type="button" class="close" data-dismiss="alert" onclick="deleteMessage()" id="demo_1">x</button>
                <span th:text="${message}" id="demo_2" style="color: red"></span>
            </div>   
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="email">邮箱：</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="请输入邮箱" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="nickname">昵称：</label>
                <input id="nickname" name="username" type="text" class="form-control" placeholder="请输入邮箱" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="password">密码：</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="请输入密码" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="password2">密码：</label>
                <input id="password2" name="password_confirm" type="password" class="form-control" placeholder="确认密码" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">注册</button>
            <p class="my-3 ml-auto text-muted">已有帐号？<a href="/login">马上登录</a></p>
        </form>
    </div>
</th:block>

</html>