<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="base" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>注册账号</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>

<th:block layout:fragment="content">
    <div class="col-md-8 offset-md-2 my-5 py-5" style="background: #fff; border-radius: 8px; border: 1px solid #eee;">
        <div class="row mb-3">
            <span class="navbar-brand" style="margin: 0 auto;">
                <div style="width:72px; height:72px; display: inline-block; vertical-align: middle;">
                    <i class="iconfont icon-wuli" style="font-size: 72px; line-height: 70px;"></i>
                </div>
                <span style="font-size:36px;">PhyLab</span>
                <h5 class="mt-2">注册 PhyLab，发现物理实验的乐趣</h5>
            </span>
        </div>
        <form id="register_form" class="col-md-6 offset-md-3" action="/register" method="post">

            <div class="alert alert-danger alert-dismissible"  th:if="${message}" >
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong th:text="${message}"></strong>
            </div>

            <div class="form-group" style="margin-bottom:.5rem">
                <label for="email">邮箱：</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="请输入邮箱" maxlength="50" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="nickname">昵称：</label>
                <input id="nickname" name="name" type="text" class="form-control" placeholder="请输入昵称" maxlength="50" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="password">密码：</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="请输入密码" maxlength="30" required>
            </div>
            <div class="form-group" style="margin-bottom:.5rem">
                <label for="password2">密码：</label>
                <input id="password2" name="password_confirm" type="password" class="form-control" placeholder="确认密码" maxlength="30" required>
            </div>
            <button id="TencentCaptcha" data-appid="2068666293" data-cbfn="callback" class="btn btn-primary btn-block" type="button">注册</button>
            <p class="my-3 ml-auto text-muted">已有帐号？<a href="/login">马上登录</a></p>
        </form>
    </div>
</th:block>

</html>

<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
<script type="text/javascript">
    window.callback = function(res){
        console.log(res)
        // res（未通过验证）= {ret: 1, ticket: null}
        // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
        if(res.ret === 0){
            // alert(res.ticket)   // 票据
            console.info('验证通过-----');
            var form_submit = document.getElementById('register_form');
            form_submit.submit();
        }
    }
    function deleteMessage(){
        document.getElementById("demo_1").style.display="none";
        document.getElementById("demo_2").style.display="none";
        document.getElementById(" login-message-alert").style.display="none";
    }
</script>