<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>用户信息</title>
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}" type="text/css" />
</head>

<body>
<div class="layui-tab page-content-wrap">
    <ul class="layui-tab-title">
        <li class="layui-this">修改资料</li>
        <li>修改密码</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form"  action="/index/user" method="post" style="width: 90%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label" >学号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="student_id" readonly
                               class="layui-input layui-disabled" th:value="${user.getStudent_id()}"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"  >用户名：</label>
                    <div class="layui-input-block">
                       <input type="text" name="name" required  lay-verify="required"
                              placeholder="请输入用户名" autocomplete="off" class="layui-input" th:value="${user.getName()}"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"  >邮箱：</label>
                    <div class="layui-input-block">
                        <input type="email" name="email" required  lay-verify="required"
                               placeholder="请输入邮箱" autocomplete="off" class="layui-input" th:value="${user.getEmail()}"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" >立即提交</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">
            <form class="layui-form" style="width: 90%;padding-top: 20px;" method="post" action="/index/user">
                <div class="layui-form-item">
                    <label class="layui-form-label">学号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="student_id"  readonly
                               class="layui-input layui-disabled" th:value="${user.getStudent_id()}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password2" required lay-verify="required"
                               id="password2"
                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重复密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password3" required lay-verify="required"
                               oninput="check2(this)" id="password3"
                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" >立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script>
    //Demo
    layui.use(['form','element'], function(){
        var form = layui.form();
        var element = layui.element();
        form.render();
        //监听信息提交
        form.on('submit(adminInfo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        //监听密码提交
        form.on('submit(adminPassword)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>

<script th:inline="javascript">
    // 密码确认
    function check1(input,tmp1) {
        var pw = [[${user.getPassword()}]];
        if (input.value != pw) {
            input.setCustomValidity('密码错误');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>

<script>
    // 密码确认
    function check2(input) {
        if (input.value != document.getElementById('password2').value) {
            input.setCustomValidity('两次输入的密码必须一致');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
</body>
</html>