<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="base">

<head>
    <title>PhyLab - 个人信息</title>
</head>

<th:block layout:fragment="content">
    <div class="container my-container">
        <div class="pl-4 pb-2 mt-3 mb-2 border-bottom">
            <h3>个人中心</h3>
        </div>
        <div class="row py-5 px-2">
            <div class="col-xs-12 col-md-3 offset-md-1 text-center">
                <div class="profile-picture">
                    <img th:src="${userAvatar}">
                </div>
                <a href="#" class="btn btn-sm btn-block btn-success mt-2" data-toggle="modal" data-target="#exampleModal">
                    <i class="ace-icon fa fa-plus-circle"></i>
                    <span>修改个人头像</span>
                </a>
            </div>
            <div class="col-xs-12 col-md-8">
                <h3 class="blue">
                    <span class="middle" th:text="${currentUser.getName()}">Nick Name</span>
                    </span>
                    <span class="lead" style="font-size: 60%"
                        th:text="${currentUser.getIntroduction()} ? ${currentUser.getIntroduction()}: '这人很懒，还没有个人介绍！'">Introduction</span>
                </h3>
                <div class="profile-user-info" style="width: 100%">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 用户名 </div>
                        <div class="profile-info-value">
                            <span th:text="${currentUser.getName()}">alexdoe</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 邮箱 </div>
                        <div class="profile-info-value">
                            <i class="far fa-envelope" style="color: #337ab7; "></i>
                            <a th:href="${'mailto:' + currentUser.getEmail()}" th:text="${currentUser.getEmail()}">Email
                                Address</a>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 性别 </div>
                        <div class="profile-info-value">
                            <span th:text="${currentUser.getSex() != null} ? ${currentUser.getSex().getValue()} : '暂未设置'">Sex</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 学校 </div>
                        <div class="profile-info-value">
                            <span>北京航空航天大学</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 注册时间 </div>
                        <div class="profile-info-value">
                            <span th:text="${#dates.format(currentUser.getCreated_at(), 'yyyy/mm/dd HH:MM:SS')}">2010/06/20</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"><i class="fab fa-github" style="color: #212529"></i> </div>
                        <div class="profile-info-value">
                            <a href="https://github.com/buaa-2016/phyweb/">buaa-2016/phyweb</a>
                        </div>
                    </div>
                </div>
                <div class="hr hr-8 dotted"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">修改个人头像</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>我们使用<a href="https://cn.gravatar.com/">Gravatar - 全球通用头像</a>来获取您的个人头像。</p>
                <p><b>Gravatar</b>是一个根据邮箱地址提供头像的网站，您一旦在这个网站上设置了个人头像，所有使用Gravatar服务的网站都可以根据您的邮箱获取到您的个人头像。</p>
                <p>有关Gravatar的详细信息，您可以在 <a href="https://zh.wikipedia.org/wiki/Gravatar">维基百科 - Gravatar</a> 里面了解更多。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a href="https://cn.gravatar.com/" class="btn btn-primary" target="_blank">前往 Gravatar</a>
            </div>
            </div>
        </div>
    </div>
</th:block>

</html>