<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png" />
    <title>PhyLab</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}" type="text/css" />
    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" type="text/css" />

</head>

<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">


        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"
                ><img th:src="@{/img/phylab_logo.svg}" height="66" width="66" alt=""
                /></a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                        class="collapse navbar-collapse offset"
                        id="navbarSupportedContent"
                >
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">主页</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">物理实验报告中心</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">题库</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="col-lg-4 of fset-lg-1" style="margin: auto auto; padding-top: 250px;">
        <div class="register_form">
            <h3>信息修改</h3>
            <div class="layui-tab page-content-wrap">
                <ul class="layui-tab-title">
                    <li class="layui-this">修改资料</li>
                    <li>修改密码</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form"  action="/index/userupdate" method="post" style="width: 90%;padding-top: 20px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label" >学号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="student_id" readonly
                                           class="layui-input layui-disabled" th:value="${user.getStudent_id()}"/>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label"  >用户名：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" required  lay-verify="required"
                                           placeholder="请输入用户名" autocomplete="off" class="layui-input" th:value="${user.getName()}"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"  >邮箱：</label>
                                <div class="layui-input-block">
                                    <input type="email" name="email" required  lay-verify="required"
                                           placeholder="请输入邮箱" autocomplete="off" class="layui-input" th:value="${user.getEmail()}"/>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label"  >自我介绍：</label>
                                <div class="layui-input-block">
                                    <input  type="text" name="introduction" required  lay-verify="required"
                                            placeholder="一句话自我介绍" autocomplete="off" class="layui-input" max="30" />
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-normal" >立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <form class="layui-form" style="width: 90%;padding-top: 20px;" method="post" action="/index/userupdate">
                            <div class="layui-form-item">
                                <label class="layui-form-label">学号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="student_id"  readonly
                                           class="layui-input layui-disabled" th:value="${user.getStudent_id()}">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password2" required lay-verify="required"
                                           id="password2"
                                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">重复密码：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password3" required lay-verify="required"
                                           oninput="check2(this)" id="password3"
                                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-normal" >立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<script th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script>
    //Demo
    layui.use(['form','element'], function(){
        var form = layui.form();
        var element = layui.element();
        form.render();
        //监听信息提交
        form.on('submit(adminInfo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        //监听密码提交
        form.on('submit(adminPassword)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>

<script th:inline="javascript">
    // 密码确认
    function check1(input,tmp1) {
        var pw = [[${user.getPassword()}]];
        if (input.value != pw) {
            input.setCustomValidity('密码错误');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>

<script>
    // 密码确认
    function check2(input) {
        if (input.value != document.getElementById('password2').value) {
            input.setCustomValidity('两次输入的密码必须一致');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>

</body>
</html>