<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="base">

<head>
    <title>PhyLab - 个人信息</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>

<th:block layout:fragment="content">
    <div class="container my-container">
        <div class="pl-4 pb-2 mt-3 mb-2 border-bottom d-flex flex-row">
            <h3 style="display: inline-block; flex: 1 ">个人中心</h3>
            <a href="/edit-profile" class="btn-sm btn btn-outline-info align-self-center " style="display: inherit;">修改个人信息</a>
        </div>
        <div class="row py-5 px-2">
            <div class="col-xs-12 col-md-3 offset-md-1 text-center">
                <div class="profile-picture">
                    <img th:src="${userAvatar}">
                </div>
                <a href="#" class="btn btn-sm btn-block btn-success mt-2" data-toggle="modal" data-target="#exampleModal">
                    <i class="ace-icon fa fa-plus-circle"></i>
                    <span>修改个人头像</span>
                </a>
            </div>

            <div class="col-xs-12 col-md-8">
                <form  action="/edit-profile" method="post">
                <div class="profile-user-info" style="width: 100%">
                    <div class="profile-info-row">
                        <div class="profile-info-name">
                        <span>用户名</span>
                        </div>
                        <div class="profile-info-value">
                            <span th:text="${user.getName()}">alexdoe</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 邮箱 </div>
                        <div class="profile-info-value">
                            <i class="far fa-envelope" style="color: #337ab7; "></i>
                            <a th:href="${'mailto:' + user.getEmail()}" th:text="${user.getEmail()}">Email
                                Address</a>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 性别 </div>
                        <div class="profile-info-value">
                            <span th:text="${user.getSex() != null} ? ${user.getSex().getValue()} : '暂未设置'">Sex</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 学校 </div>
                        <div class="profile-info-value">
                            <span th:text="${user.getSchool() != null} ? ${user.getSchool()} : '暂未设置'">School</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name" > 自我介绍 </div>
                        <div class="profile-info-value">

                            <textarea   readonly rows="3" style="resize: none;width: 500px"
                                      th:text="${user.getIntroduction() != null} ? ${user.getIntroduction()} : '这个人很懒，还没有自我介绍'"
                            ></textarea>
                        </div>
                    </div>

                </div>
                <div class="hr hr-8 dotted"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">修改个人头像</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>我们使用<a href="https://cn.gravatar.com/">Gravatar - 全球通用头像</a>来获取您的个人头像。</p>
                <p><b>Gravatar</b>是一个根据邮箱地址提供头像的网站，您一旦在这个网站上设置了个人头像，所有使用Gravatar服务的网站都可以根据您的邮箱获取到您的个人头像。</p>
                <p>有关Gravatar的详细信息，您可以在 <a href="https://zh.wikipedia.org/wiki/Gravatar">维基百科 - Gravatar</a> 里面了解更多。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a href="https://cn.gravatar.com/" class="btn btn-primary" target="_blank">前往 Gravatar</a>
            </div>
            </div>
        </div>
    </div>
</th:block>

</html>